<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @issue.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @issue.description %>
</p>

<p>
  <strong>Issue type:</strong>
  <%= @issue.issue_type_id %>
</p>

<p>
  <strong>Voting open time:</strong>
  <%= @issue.voting_open_time %>
</p>

<p>
  <strong>Voting closed time:</strong>
  <%= @issue.voting_closed_time %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
