<h1>Votes#new</h1>
<p>Find me in app/views/votes/new.html.erb</p>
<style>
.fa-question-circle:hover {
	-webkit-transform: scale(1.2);
}

.fa-question-circle {  
  transition: font-size 0.35s ease; 
}

a:hover {
	color: #000;
	background-color: #fff;
	text-decoration: none;
}
</style>

<script>
function confirmVote() {
  return confirm('Are you sure you want to vote for:\n' + gatherVotes()) ;
}

function gatherVotes() {
  var message = "";
  $.each($('input:radio:checked'), function( index, value ) {
    message = message + $(value).parent().text().trim() + "\n ";
  });
  return message;
}
</script>

<%= form_tag votes_path, onsubmit: "return confirmVote();" do %>
  <%= hidden_field_tag 'voter_id', @voter.id %>
  <% @issues.each do |issue| %>
    <%= fields_for "issue[]", issue do |f| %>
      <div class="row">
        <div class="col-md-12">
          <h2>
            <%= issue.title %>
            <%= link_to issue_path(issue) do %>
              <i class="fa fa-question-circle"></i>
            <% end %>
          </h2>
        </div>
      </div>
    <% end %>
      <div class="row">
        <% issue.choices.each do |choice| %>
          <div class="col-md-3">
            <strong>
              <%= radio_button_tag "issue[#{issue.id}]", choice.id %> 
              <%= choice.title %>
            </strong>
          </div>
        <% end %>
        <div class="col-md-3">
          <strong>
            <%= radio_button_tag "issue[#{issue.id}]", '' %> 
            None
          </strong>
        </div>
      </div>
      <br>
      <%= check_box :issue, :understand_this %> I understand
      <br>
      <%= check_box :issue, :care_about_this %> I care about this
  <% end %>
  <br/>
  <%= submit_tag "Submit Vote", class: "btn btn-default" %>
<% end %>