<!DOCTYPE html>
<html>
<head>
  <title>Teen Vote</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="myTabHeader">
	Find me in app/views/layouts/application.html.erb
		<ul >
			<li id="homeTab"><%= link_to 'Home', root_path %></li>
			<li id="issuesTab"><%= link_to 'Issues', issues_path %></li>
			<li id="resourcesTab"><%= link_to 'Resources', resources_path %></li>
			<li id="voteTab"><a href="vote.html">Vote</a></li>
			<li id="registerTab"><a href="register.html">Register</a></li>
			<li id="ballotTab"><a href="ballot.html">Ballot</a></li>
			<li id="aboutustab"><a href="Aboutus.html">About Us</a></li>
			<li id="contactustab"><a href="contactus.html">Contact us</a></li>
			<li id="resultstab"><a href="results.html">Results</a></li>
			<li id="ivotedtab"><a href="Ivoted.html">I Voted</a></li>
		</ul>
</div>
<%= yield %>

</body>
</html>
