<!DOCTYPE html>
<html>
<head>
  <title>Teen Vote</title>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"/>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick-theme.css"/>
	<%= csrf_meta_tags %>
</head>
<body>
<div id="myTabHeader">
		<ul id="tabs">
			<li id="thisTab"><a href="this.html">This</a></li>
			<li id="resourcesTab"><%= link_to 'Resources', resources_path %></li>
			<li id="otherTab"><a href="theOther.html">The Other</a></li>
			<li id="bananaTab"><a href="banana.html">Banana</a></li>
		</ul>
</div>
<div class="container">
	<%= yield %>
</div>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
</body>
</html>


